@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Noto+Serif+Thai&display=swap');

:root {
	--h: 0;
	--scrollY: 0;
}

/** Reset / Basic styling */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Noto Serif Thai', serif;
	color: #000000;
  background-color: #FFFFFF;
}

code {
  font-family: 'Mitr', sans-serif;
}

/** Header */
header {
	position: sticky;
	top: 0;
	font-size: 1.5vh;
  z-index: 1;
}

#header {
  height: 7vh;
}

header a {
  color: hsl(0, 0%, 0%);
  text-decoration-line: none;
}

#header {
	display: flex;  
  justify-content: space-between;
  align-items: center;
	background: #FFFFFF;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu p {
  margin: 0rem 1rem;
  font-size: 1.5vh;
}

.container {
  width: 100%;
  padding: 0rem 5rem;
}

#post {
  font-size: 3em;
  position: fixed;
  top: 0;
  left: 0;
  background:#fffc;
  z-index: 3;
}

#output {
  font-size:3em;
  position:fixed;
  top:0;
  left:0;
  background:#fffc;
  z-index: 3;
}

/** Section inner layout */
section {
	display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 5vh;
  padding: 7vh 5vh 0;
}

/** Full Page Scroll-Snapping HTML Sections */
.scrollY {
  height: 100vh;
	overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.scrollY section {
  width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	scroll-snap-align: center;
}

/**  Chart and Data */
.chart-warpper{
  margin: 0 auto;
}

/** Artwork */
.artwork {
  width: 100vh;
  height: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.artwork[data-image="logo"] {
  height: 30vh;
  background-image: url("/img/logo/logo.png");
}

.artwork[data-image="page-1"] {
  background-image: url("/img/page-1/artwork.png");
}

.artwork[data-image="page-4"] {
  background-image: url("/img/page-4/artwork.gif");
}

/** Twitter */
.twitter-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.twitter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 18px;
  text-align: left;
}

.twitter .imgprofile {
  width: 7.5vh;
  height: 7.5vh;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/img/page-10/profile-1.jpg");
}

.twitter i {
  color: #787E83;
  padding: 0 .5rem;
}

.twitter > p:nth-child(1) {
  color: #787E83;
  font-size: 1.5vh;
}

.twitter .profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}

.twitter .user, .twitter .status {
  font-size: 1.5vh;
  padding: 0 1rem;
}

.twitter .user > p:nth-child(2) {
  color: #787E83;
}

.twitter .headline {
  width: 100%;
  border: 1px solid #26323B;
}

.twitter .headline > hr {
  border: 0px solid #26323B;
}

/** Page */
.page-0 {
  font-size: 2.5vh;
  color: #2C2B42;
  background-color: #FFD269;
  justify-content: space-evenly;
}

.page-7 p, .page-8 p, .page-9 p {
  font-size: 1.8vh;
  text-align: left;
}

.page-7 p:nth-child(1), .page-8 p:nth-child(1), .page-9 p:nth-child(1) {
  font-size: 3vh;
  text-align: left;
}

.flex-page-9 {
  display: flex;
  align-items: center;
}

.flex-row-logo-page-9 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-logo-page-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-logo-page-9 > img {
  width: 10vw;
}

.page-10 ,.page-11, .page-12, .page-13 {
  justify-content: space-around;;
  color: #FFFFFF;
  background-color: #16202A;
}

.twitterheader {
  font-size: 3vh;
}

/** Popup */
button {
  background-color: transparent;
  border: 0;
  color: #787E83;
  padding: 1rem;
  font-size: 1.6vh;
  cursor: pointer;
}

.modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 7vh 5vh 0;
  background-color: rgba(0, 0, 0, 0.911);
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  font-size: 1.5vh;
}

.close {
  color: #000;
}
/************************* popup****************************/
/************************* cluster****************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@300&family=Noto+Serif:wght@400;700&display=swap');

.fullscreen{
  width: 100%;
  height: 100vh;
  
}
.flex-center-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  color: blue;
  max-width: 1024px;
  padding: 0 3rem;
  width: 30%;
  height: 80%;


}
#WOMEN{
  position: absolute;
  transform: translate(22px,7px);
  color: red;

}
#SELFLOVE{
  position: absolute;
  transform: rotate(90deg) translate(-60px,20px);
  
}
#SELFLOVE2{
  position: absolute;
  transform: rotate(-90deg) translate(-110px,130px);  
  font-size: 22px;
}
#INSPIRED{
  position: absolute;
  transform: translate(57px,30px);
  
}
#RESPECT{
  position: absolute;
  transform: translate(60px,-20px);
  
}
#BRAVE{
  position: absolute;
  transform: translate(30px,-40px);
  
}
#STRENGTH{
  position: absolute;
  transform: rotate(90deg) translate(85px,75px);
}
#MOTIVATION{
  position: absolute;
  transform: translate(20px,50px);
  
}
#MOTIVATION2{
  position: absolute;
  transform: translate(-92px, -20px);
  font-size: 15px;
  
}
#BEYOURSELF{
  position: absolute;
  transform: rotate(-90deg) translate(-60px,110px);
  
}
#BEYOURSELF2{
  position: absolute;
  transform: rotate(-90deg) translate(95px,-50px);

}
#CONFIDENCE{
  position: absolute;
  transform: translate(22px,90px);
  
}
#POWERFUL{
  position: absolute;
  transform: translate(160px);
  font-size: 13px;
  
}
#POWERFUL2{
  position: absolute;
  transform: translate(30px,112px);
 
  
}
#SELFESTEEM{
  position: absolute;
  transform: translate(28px,70px);
  font-size: 13px;
  
}
#AMAZING{
  position: absolute;
  transform: translate(-108px,3px);
  
}
/************************* cluster****************************/


