:root {
	--h: 0;
	--scrollY: 0;
	--cartoon-1 : url(https://media.discordapp.net/attachments/881913497003372584/881955546603876362/Untitled_Artwork.png?width=753&height=683)
}

body {
  font-family: 'Mitr', sans-serif;
	text-align: center;
	background-color: #fffaf0;
	color: #030450;
}

#post {
  font-size:3em;
  position:fixed;
  top:0;
  left:0;
  background:#fffc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
  position: sticky;
  background-color: #fff799;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li {
  float: left;
}

li a {
  display: block;
	color: #030450;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.cartoon {
	width: 55%;
}

.text{
	font-size: 3vw;
	margin: 200px 10px 400px;
	opacity: 0;
	transition: 1.5s;
}

.text[data-active="0"] {
	opacity: 0;
}

.text[data-active="1"] {
	opacity: 1;
}

.slider {
  display: flex;
  justify-content: space-evenly;
}
.mySlides {
  width: 55%;
}