:root {
	--h: 0;
	--scrollY: 0;
}

/** Reset / Basic styling */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Mitr', sans-serif;
	color: #030450;
  background-color: #FFA8A2;
}

#post {
  font-size:3em;
  position:fixed;
  top:0;
  left:0;
  background:#fffc;
  z-index: 3;
}

#output {
  font-size:3em;
  position:fixed;
  top:0;
  left:0;
  background:#fffc;
  z-index: 3;
}

h1 {
	font-size: 3em;
}

.text {
	opacity: 0;
  transition: 1.5s;
}

.text[data-active="0"] {
	opacity: 0;
}

.text[data-active="1"] {
	opacity: 1;
}

img {
  width: 30%;
}

/** Section inner layout */
section {
	display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

/** Full Page Scroll-Snapping HTML Sections */
.scrollY {
  height: 100vh;
	overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.scrollY section {
  width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	scroll-snap-align: center;
}

/** Cartoon */
.cartoon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.cartoon.cartoon-1 {
  background-image: url("/img/cartoon/gif-1/1.PNG");
  animation: GIF-1 1.5s steps(1) 0s normal;
}

.cartoon.cartoon-2 {
  background-image: url("/img/cartoon/gif-2/1.PNG");
  animation: GIF-2 1.5s steps(1) 0s normal infinite;
  animation-play-state: paused;
}

@keyframes GIF-1 {
  0%   {  background-image: url("/img/cartoon/gif-1/2.PNG");  }
  50%   {  background-image: url("/img/cartoon/gif-1/3.PNG");  }
  100%   {  background-image: url("/img/cartoon/gif-1/1.PNG");  }
}

@keyframes GIF-2 {
  0%   {  background-image: url("/img/cartoon/gif-2/2.PNG");  }
  50%   {  background-image: url("/img/cartoon/gif-2/1.PNG");  }
  100%   {  background-image: url("/img/cartoon/gif-2/2.PNG");  }
}

/** Page */
  .page-1 {
    background-color: #FFA8A2;
  }
  .page-2 {
  }

@keyframes Fade {
  from {  opacity: 0; }
  to {  opacity: 1; }
}